#section_p
 {
    background-color: rgba(255,235,196,.4);
    border-radius: 5px;
    -webkit-box-shadow: 2px 2px 10px #777;
    box-shadow: 2px 2px 10px #777;
    color: #1D2549;
    font-size:1.5em;
    margin:15px auto;
    padding:15px;
    width:80%;
 }

   #section_p p
 {
    padding: 15px;
 }
form#contacta{
margin:20px auto;
 width:80%;
}