<!DOCTYPE html>
	<html>
	<head>
			<meta charset="utf-8">
			<meta http-equiv="X-UA-Compatible" content="IE=edge">
			<title>Mi primera página web.</title>
			<link rel="stylesheet" href="style.css">
	</head>
	<body>
		<header>
			<h1>Mi primer sitio</h1>
			<h2>en la web</h2>
			<img src="img/logo.png" alt="Logo del sitio">
		</header>
		<nav>
			<ul>
				<li><a href=""></a>Home</li>
				<li><a href=""></a>Una página</li>
				<li><a href=""></a>Otra página</li>
				<li><a href=""></a>El final</li>
			</ul>
		</nav>
		<section>
			<article>
				<h3>El título del articulo</h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis, totam veritatis impedit quos repellat hic quas optio possimus quis atque voluptatum delectus ducimus facere. Harum, quis nostrum blanditiis quisquam maxime.</p>
			</article>
			<article>
				<h3>otro articulo</h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore, aliquid in perferendis amet mollitia nesciunt maiores animi expedita ipsum sed minima accusantium non architecto incidunt laborum asperiores unde harum at?</p>
				<p>
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque, reprehenderit sed facere veritatis veniam officia adipisci quam nisi in aliquid? Nulla, porro ducimus ad voluptates rerum optio dolorum ipsum saepe.
				</p>
			</article>
		</section>
		<aside>
			<div>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur, nostrum, officia, quo illo voluptas sit corporis dolores cum accusamus itaque nam laudantium molestiae temporibus hic deleniti fugiat nesciunt unde expedita.</p>
			</div>
			<div>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officiis, a explicabo molestiae voluptatum sed repellendus voluptatem doloremque et earum molestias? Unde, sunt a pariatur optio voluptatem delectus molestias voluptatum doloribus!</p>
			</div>
		</aside>
		<footer>
			<p>Hecho en Salt @ 2013</p>
		</footer>
	</body>
</html>